body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DAE3E7 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: #fff;
}

.about-me{
}

.latest-project{

}

.other-project{

}

.work-experience{

}

.my-github{

}

.personal-address{

}

.skill{}

.testimonial{}

.education{}

.languages{}

.latest-blog-posts{}

.credits{}